<!-- fiveth button row  -->
<div class="flex w-full">
    <!-- zero button -->
          <div class="w-1/4 border-r border-b border-red-400">
              <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-70 text-white text-opacity-50 text-xl font-light" (click)="zero();">
                0
              </button>
          </div>
    <!-- zero button -->
    
    <!-- full-stop button -->
    <div class="w-1/4 border-r border-b border-red-400">
      <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-70 text-white text-opacity-50 text-xl font-light" (click)="dash();">
        .
      </button>
    </div>
    <!-- end full-stop button -->
    
    <!-- equal button -->
    <div class="w-2/4 border-r border-b border-red-400">
      <button class="w-full h-16 outline-none hover:bg-red-700 hover:bg-opacity-70 text-white text-opacity-50 text-xl font-light" (click)="resultat();">
        =
      </button>
    </div>
    <!-- end equal button -->

    <!-- end fiveth button -->


